@{
	var create = ViewBag.CreateMode;
	ViewBag.Title = create ? "Create" : "Edit";
}
<h2>@ViewBag.Title</h2>
@* <form enctype="multipart/form-data" method="post" asp-action="@(create ? "AddVideo" : "Edit")">
    <div class="form-group">
        <label>Viedo URL</label>
        <input asp-for="ViedoUrl" type="text" class="form-control" placeholder="Enter Avatar Url">
        <span class="small text-danger" asp-validation-for="AvatarUrl"></span>
    </div>

    <div class="form-group">
        <label for="inputName">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
        <span class="small text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label for="inputNickname">Nickname</label>
        <input asp-for="Nickname" type="text" class="form-control" placeholder="Enter nickname">
        <span class="small text-danger" asp-validation-for="Nickname"></span>
    </div>

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback">Please enter a valid email address.</div>
        <span class="small text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label for="inputBirthday">Date of Birth</label>
        <input asp-for="Birthday" type="date" class="form-control">
        <span class="small text-danger" asp-validation-for="Birthday"></span>
    </div>

    <div class="form-group">
        <label for="inputPassword">Password</label>
        @if (create)
        {
            <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        }
        else
        {
            <input asp-for="Password" type="text" class="form-control" id="inputPassword" placeholder="Password">
        }
        <span class="small text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" id="checkShowPassword" onchange="togglePasswordVisibility()">
        <label class="form-check-label" for="checkShowPassword">Show Password</label>
    </div>

    <button type="submit" class="btn btn-danger">@(create ? "Sign Up" : "Edit")</button>
    <button type="button" class="btn btn-dark" onclick="window.history.back();">Back</button>
</form> *@

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}